{% extends 'bootstrap/base.html'%}

<!-- Navbar block as created in the navbar.html -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- {% extends 'bootstrap/base.html'%} this extends flask bootstrap's own base.html.-->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Content Block -->

<!-- {% block content %} {% endblock %}
  </body>
</html> -->
